 <div>

 	<div class="bootcards-list" ng-class="colClass()" ng-show="!$root.hideList">

		<div class="panel panel-default">

			<ng-include src="'xc-list-heading.html'"></ng-include>

			<div class="list-group">

				<div ng-repeat="group in groups" class="animate-repeat">
					<a ng-class="{'collapsed' : group.collapsed}" class="list-group-item bootcards-list-subheading" ng-click="toggleCategory(group)">
						{{group.name}}
					</a>
				
					<a class="list-group-item" ng-show="!group.collapsed" ng-repeat="item in group.entries | filter : filter" ng-click="select(item)"
						ng-class="{'active' : selected == item}">

						<!--(placeholder) icon-->
						<i ng-if="showPlaceholder(item)" class="fa fa-2x pull-left" ng-class="'fa-' + imagePlaceholderIcon"></i>
						<i ng-if="showIcon(item)" class="fa fa-2x pull-left" ng-class="'fa-' + item[iconField]"></i>
					
						<!--image-->
						<img 
						ng-if="showImage(item)"
						class="img-rounded pull-left" 
						ng-src="{{ imageBase + item[imageField] }}" />

						<h4 class="list-group-item-heading">{{item[summaryField] | fltr : fieldFilters[summaryField]}}&nbsp;</h4>

						<p class="list-group-item-text">{{ item[detailsField] | fltr : fieldFilters[detailsField] : detailsFieldType }}&nbsp;</p>
						
					</a>

				</div>

				<div class="list-group-item" ng-show="isLoading">
					<i class="fa fa-spinner fa-spin fa-fw" style="margin-right:0; opacity: 1;"></i>Loading...
				</div>

				<div class="list-group-item" ng-show="groups.length == 0">
					No items found
				</div>

				<div class="list-group-item" ng-show="!isLoading && hasMore">
					<button ng-click="loadMore()" id="btnLoadMore" class="btn btn-default">
						Load more...
					</button>
				</div>

			</div>

		</div>

	</div>

	<div class='bootcards-cards {{colRight}}' ng-show="$root.showCards">

		<ng-transclude></ng-transclude>

	</div>

</div>
